---
layout: default
url: /
slider: true
---

<div class="home">

<h1>Join us in Washington, D.C. April 19!</h1>

<img src="/static/images/featured/2016-04-11-ACAday.png" alt="an image of the capitol dome overlaid with the text: Adoptee Citizenship Act Day of Action 4/19 Take Action Make a Call Share your Story. It also features the logos of NAKASEC, 18MR.org, and Gazillion Strong.">

<p><strong>On April 19, we’ll be in Washington D.C. for the first Adoptee Citizenship Act Day of Action (ACA).</strong> Adoptees who don’t have citizenship will share their stories with representatives to emphasize the necessity of the bill’s passage in the Senate and House of Representatives</p>

<p>We can advocate for adoptees by showing up and demanding action from our Members of Congress – regardless of whether or we're adoptees ourselves.</p>

<p><strong><a href="http://action.18mr.org/ACAday/">Join 18MillionRising, National Korean American Service and Education Consortium (NAKASEC), Gazillion Strong, and the Adoptee Rights Campaign (ARC) on April 19 to speak with legislators.</a></strong></p>

<p>When the Child Citizenship Act (CCA) was signed into law in 2000, it granted automatic U.S. citizenship to all international adoptees <em>except</em> those born before January 1983 -- leaving thousands of adoptees at risk of being deported. But the Adoptee Citizenship Act of 2015 (ACA) can rewrite the CCA to grant citizenship to the international adoptees -- and it is on the verge of being passed in Congress.</p>

<p>Can't be in DC with us on April 19? Here are two things you can do instead:</p>
<p><a href="http://action.18mr.org/aca-2015/"><strong>Join 900 of us who called Congress to pass the Adoptee Citizenship Act now!</strong></a></p>
<p><a href="http://www.keepushome.org/share-story/"><strong>If you are an adoptee without citizenship with a story to share, you can still share your story online, here.</strong></a></p>

<!-- <h1>Telling the Stories of Noncitizen Adoptees</h1>

<script language="javascript">
$(document).ready(function(){
  $('.post-list').bxSlider({
	auto: true,
	pause: 6000,
	autoHover: true,
	slideWidth: 634,
	responsive: true,
	video: true
	});
});
</script>

  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
		{% if post.video-url %}
		<iframe src="{{ post.video-url }}" allowfullscreen></iframe>
		<div class="vid-caption">
			<h2>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<span>{{ post.blurb | truncatewords: 25, '...' }} <a href="{{ post.url | prepend: site.baseurl }}">Read More</a></span>
		</div>
		{% else %}
		<img class="featured-slider" src="{{ post.featured-image }}" />
		<div class="overlay">
			<h2>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<span>{{ post.blurb | truncatewords: 25, '...' }} <a href="{{ post.url | prepend: site.baseurl }}">Read More</a></span>
		</div>
		{% endif %}
      </li>
    {% endfor %}
  </ul>
  
  <p>
	Adam Crapser was adopted from Korea into an abusive family as a child. Even though it was promised to him, Adam still doesn’t have his citizenship due to loopholes in U.S. adoption law. Now, he faces deportation to Korea, a country whose language and culture he doesn’t understand. Deportation would rip him away from his wife and children--the family he has longed for most of his life.
  </p><p>
	<strong>Like Adam, because of a loophole created by the Child Citizenship Act of 2000 and neglect by their adoptive families and adoption agencies, thousands of adoptees in the US are without their citizenship.</strong> These adoptees, promised all of the rights and privileges held by their adoptive families, still can’t open bank accounts, obtain passports and drivers licenses, or get jobs. However, an amendment that would give retroactive citizenship to all international adoptees--including Adam--is gaining support in Washington. It has already garnered public support from Senators Jeff Merkley (D-OR) and Amy Klobuchar (D-MN) and the private support of lawmakers on both sides of the aisle.
  </p><p>
	Now is the time to take action, for Adam and other adoptees without citizenship. Contact your lawmakers to encourage them to keep Adam home with his family and to finally fix the Child Citizenship Act of 2000. Tell them to #KeepUsHome: so Adam can receive the justice he deserves, adoptees who’ve been deported can come back to the US, and all international adoptees can hold in their hands what was promised to them as children: their citizenship.
  </p> -->
  
</div>
